<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hellotracks"
    android:versionCode="77"
    android:versionName="5.0.2" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock"  >

        <!-- debug: AIzaSyD7EnahTzYtmPUPtlgiMX1NBqbT1RED1w8 -->
        <!-- prod:  AIzaSyDj9I4wOgoILtzImxCepsjH2H98NgKpRJ4 -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDj9I4wOgoILtzImxCepsjH2H98NgKpRJ4" />

        <receiver android:name="TrackingSender" >
            <intent-filter>
                <action android:name="com.hellotracks.send" />
            </intent-filter>
        </receiver>
        <receiver android:name="TrackingAutoStarter" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="OldTrackingService"
            android:enabled="true"
            android:launchMode="singleTask" />
        <service
            android:name="NewTrackingService"
            android:enabled="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.ChangeUserScreen"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.Transparent"  >
        </activity>
        <activity
            android:name=".einstein.HomeMapScreen"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".einstein.LabelsScreen"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".einstein.EditBillingAddressScreen"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".einstein.CompanyPermissionsScreen"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".einstein.DailyReportScreen"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".einstein.MainMenuScreen"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".einstein.MenuScreen"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".einstein.AccountSettingsScreen"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".einstein.ConversationsScreen"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".einstein.AboutScreen"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".einstein.ContactScreen"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent"  >
        </activity>
        <activity
            android:name=".einstein.ProfileSettingsScreen"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".einstein.BusinessScreen"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".einstein.RegisterCompanyScreen"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".einstein.RegisterMemberScreen"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".einstein.ContactsScreen"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".einstein.NetworkScreen"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".einstein.ConversationScreen"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".einstein.TrackInfoScreen"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".einstein.MultiMsgScreen"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activities.SignUpScreen"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".einstein.CockpitScreen"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".einstein.HelpScreen"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".einstein.PanicScreen"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Floating" >
        </activity>
        <activity
            android:name=".einstein.PanicInfoScreen"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Floating" >
        </activity>
         <activity
            android:name=".einstein.PublicUrlInfoScreen"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Floating" >
        </activity>
         <activity
            android:name=".einstein.RemoteActivationInfoScreen"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Floating" >
        </activity>
        <activity
            android:name=".einstein.ProfileScreen"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".einstein.NewProfileScreen"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
         <activity
            android:name=".einstein.NewPlaceScreen"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".activities.RegisterPlaceScreen"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activities.TrackListScreen"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".einstein.ActivitiesScreen"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".activities.WebScreen"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>

        <uses-library android:name="com.google.android.maps" />

        <service android:name=".c2dm.C2DMReceiver" />

        <!--
             Only Google services can send messages to the app. If this permission 
			weren't set any other app would be able to send messages to us.
        -->
        <receiver
            android:name=".c2dm.C2DMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >

            <!-- Receive actual messages -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.hellotracks" />
            </intent-filter>
            <!-- Receive registration ids -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.hellotracks" />
            </intent-filter>
        </receiver>
    </application>

    <permission
        android:name="com.hellotracks.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hellotracks.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>
        
    <supports-screens android:resizeable="true"
                  android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true"
                  android:anyDensity="true"/>

</manifest>